<ul>
  <% if (!currentUser){ %>
    <li><a href="/sessions/new" class="navtbtn">LogIn</a></li>
    <li><a href="/users/new" class="navtbtn">Register</a></li>

  <% } %>

  <% if (currentUser) { %>
  
    <li><button type="button" name="button"><a href="/trips" class="navtbtn">home</a></button></li>
    <li>
      <form class="navtbtn" action="/sessions?_method=DELETE" method="POST">
        <input type="submit" value="Logout">
      </form>
    </li>
  <%}%>

</ul>
