

<ul class="right">
  <% if (!currentUser){ %>
    <li><a href="/sessions/new" class="navtbtn">LogIn</a></li>
    <li><a href="/users/new" class="navtbtn">Register</a></li>
  <% } %>

  <% if (currentUser) { %>
    <li>
     <a href="/trips/user" class='center hi navbtn'> <%= currentUser.username %></a>
   </li>

    <li><a href="/trips" class="navtbtn">home</a></li>
    <li>
      <form class="navtbtn btn-flat" action="/sessions?_method=DELETE" method="POST">
        <input type="submit" value="Logout">
      </form>
    </li>
  <%}%>

</ul>
