.footerWrap {
  color: $light-text;
  margin-top: 19%;
  // position: sticky;
  // bottom:0;
  footer {
    padding:5%;
    background-color: $primary-color-light;
    height:30vh;
    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
  a {
    color: $light-text;
  }
  .tit{
    border-right:1px solid $light-text;
  }
}
