
@import 'reset';

// colors
$light-text: #f2f0ef;
$dark-text: #302e2d;
$primary-color: #B22E20;
$primary-color-light: lighten($primary-color, 15%);
$primary-color-dark: darken($primary-color, 15%);



li {
  list-style: none;
}
button {
  border-radius: 0;
  box-shadow: -2px 3px $primary-color-dark;
  text-transform: none;
}

a {
  text-decoration: none;
}
// nav

nav {

  background-color:$primary-color;
  .navtbtn {
    margin:0 3%;
    border-radius: 0;

    // display: inline-block;
  }
  a {
    align-self: baseline;
    color:$primary-color-light;
    text-decoration: none;

  }
  ul {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    margin:0 3%;
  }

  li {
    align-self: baseline;
    padding:3% .5%;

    input[type=submit] {
      border-radius: 0;
      color:$dark-text;
      text-transform: none;
      margin-right: 10%;
      box-shadow: -2px 3px $primary-color-dark;
      align-self: baseline;
    }
  }

}



//Index

.indexNavWrap {
  position: sticky;
  top:0;
}


.tripItem {
  border: 1px solid red;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-gap: 3%;
  margin:1%;

  .tripItemValue {
    padding:2%;
    color:$dark-text;
    text-overflow: clip;
  }

}

.ridebtn {
  margin:10px 0 3px 10px;
  // top:-10;
  width: 50%;
  a {
    color:$dark-text;

  }
}
.startBtn {
  margin-top:25px;
}

// progress
.progWrap {

}
.arrived {
  input {
    width:100%;
  }
}
