// normalize
@import 'reset';
// animation
@import 'animation';
// colors
@import 'variables';
//font
@import url('https://fonts.googleapis.com/css?family=Dosis:400,600&display=swap');
@import 'nav';
@import 'footer';



body {
  font-family: $primary-font;
}

// title

.showtitle {
  background-color: $primary-color-light;
  height: 100%;
  color: $light-text;
  h6 {
    margin: 0;
    padding: 5px;

  }
}

// opening screen

.welcomeBack {
  width: 100vw;
  height: 90vh;
  position: relative;
  background-image: url(https://live.staticflickr.com/2815/13740757384_8be0ae27e7_b.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  .onTop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    opacity: 1;
    padding:1%;
@include animation(colorchange, 300s, ease-in, infinite );
    // background-color: white;

  }
}

//Index

.indexNavWrap {
  position: sticky;
  top: 0;
}

.index {
  display: grid;
  grid-template-columns: 3fr 8fr .1fr;
  width: 100%;
}

.tripItem {
  // border-top: 3px solid $primary-color-dark;
  box-shadow: 1px 0 3px $primary-color-light;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-gap: 3%;
  margin: 1.3%;

  &:hover {
    background-color: $secondary-color-light;
  }

  .tripItemValue {
    padding: 5%;
    color: $dark-text;
    overflow: ellipsis;
    // font-family: $primary-font;
    font-weight: 600;
  }

}
.fav{
  background-color: $tertiary-color-light;
}

.ridebtn {
  margin: 10px 0 3px 10px;
  // top:-10;
  width: 100%;

  a {
    color: $dark-text;
  }
  button {
    box-shadow: $box-shadow;
  }
}

.startBtn {
  margin: 28px 0 6px;
}

// progress
.progressBar {
  margin-top:5%;
}
.arrived {
  input {
    width: 100%;
  }
}

.colorAnimation {
  @include animation(colorchange, 60s, ease-in, infinite );
  height:100vh;

}

// sidenavcontent

.sidenavcontent {
  height: 100%;
  // background-image: url(https://www.maxpixel.net/static/photo/1x/Urban-Bicycle-City-Commuting-Folding-Bicycle-1864733.jpg);
  background-image: url(https://media1.tenor.com/images/2d8791f73c37a70713ab2b7234c36aba/tenor.gif?itemid=11494451);
  // background-image: url(https://giphy.com/gifs/bike-cycling-fixie-ywADVPv2NitJC);
  background-size: cover;
  background-position: center;
  // opacity:.3;
}

.editRoute {
  width: 100%;
}

@media (max-width: 411px) {
  .index {
    display: grid;
    grid-template-columns: .1fr 8fr .1fr;
    width: 100%;
  }
  .sidenavcontent {
    background-image: none;
  }
}
