
@import 'reset';

@import url('https://fonts.googleapis.com/css?family=Dosis:400,600&display=swap');

// colors
$light-text: #f2f0ef;
$dark-text: #302e2d;
$primary-color: #B22E20;
$primary-color-light: lighten($primary-color, 15%);
$primary-color-dark: darken($primary-color, 15%);
$secondary-color: #827717;
$secondary-color-light:lighten($secondary-color,35%);

$primary-font: 'Dosis', sans-serif;

body {
  font-family: $primary-font;
}
li {
  list-style: none;
}
button {
  // border-radius: 0;
  box-shadow: -2px 3px $primary-color-dark;
  text-transform: none;
}

a {
  text-decoration: none;
}
// nav

nav {
  font-family: $primary-font;
  background-color: $primary-color;
  .navtbtn {
    margin:0 3%;
    // border-radius: 0;
  height:60%;
    // display: inline-block;
  }
  a {
    align-self: baseline;
    color:$primary-color-light;
    text-decoration: none;

  }
  ul {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    margin:0 3%;
  }
  .hi {
    display: inline-flex;
    margin:7px;

  }

  li {
    align-self: baseline;
    padding:3% .5%;

    input[type=submit] {
      // border-radius: 0;
      color:$dark-text;
      text-transform: none;
      margin-right: 10%;
      box-shadow: -2px 3px $primary-color-dark;
      align-self: baseline;
    }
  }

}

h6 {
  margin:0;
  padding:5px;

}
.showtitle {
  background-color: $primary-color-light;
  height:100%;
  color:$light-text;
}

.welcomeBack {
  width:100vw;
  height:90vh;
  position:relative;
  background-image: url(https://live.staticflickr.com/2815/13740757384_8be0ae27e7_b.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  opacity: .4;

  .onTop {
    position: absolute;
    top:0;
    left:0;
    z-index: 1;
    opacity: 1;
    width:100%;
    background-color: white;
  }
}




//Index

.indexNavWrap {
  position: sticky;
  top:0;
}

.index {
  display: grid;
  grid-template-columns: 2fr 6fr .1fr;
  width: 100%;

}



.tripItem {
  border: 1px solid $primary-color-dark;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-gap: 3%;
  margin:1%;


  .tripItemValue {
    padding:2%;
    color:$dark-text;
    text-overflow: clip;
    // font-family: $primary-font;
    font-weight: 600;
  }


}
.tripItem:hover {

    background-color: $secondary-color-light;

}

.ridebtn {
  margin:10px 0 3px 10px;
  // top:-10;
  width: 100%;
  a {
    color:$dark-text;

  }
}
.startBtn {
  margin-top:25px;
}

// progress
.progWrap {
  width:100%;

}
.arrived {
  input {
    width:100%;
  }
}

// sidenavcontent

.sidenavcontent {
  height:100%;
  background-image: url(https://www.maxpixel.net/static/photo/1x/Urban-Bicycle-City-Commuting-Folding-Bicycle-1864733.jpg);
  background-size: cover;
}

.editRoute {
  width:100%;

}
