<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include partials/head %>
  </head>
  <body>
    <h1>
    <% if (currentUser) { %>
      Let's Ride <%= currentUser.username %> !
    <%} else {%>
      Welcome!
    <%}%>
    </h1>
    <nav>
      <% include partials/nav %>
    </nav>
<% if (currentUser) { %>
  <main>
    Welcome to touring interurban!  <a href="/trips">Let's Begin</a>
  </main>
<% } %>

  </body>
</html>
