@import url("https://fonts.googleapis.com/css?family=Dosis:400,600&display=swap");
html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

@keyframes colorchange {
  0% {
    background-color: #e4d767;
  }
  25% {
    background-color: #dd5042;
  }
  50% {
    background-color: #B22E20;
  }
  75% {
    background-color: #d4d6f8;
  }
  100% {
    background-color: #e4d767;
  }
}
body {
  font-family: "Dosis", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.showtitle {
  background-color: #dd5042;
  height: 100%;
  color: #f2f0ef;
}
.showtitle h6 {
  margin: 0;
  padding: 5px;
}

nav {
  font-family: "Dosis", sans-serif;
  background-color: #B22E20;
}
nav .navtbtn {
  margin: 0 3%;
  height: 60%;
}
nav a {
  align-self: baseline;
  color: #dd5042;
  text-decoration: none;
}
nav ul {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  margin: 0 3%;
}
nav .hi {
  display: inline-flex;
  margin: 7px;
}
nav li {
  align-self: baseline;
  padding: 3% 0.5%;
}
nav li input[type=submit] {
  color: #302e2d;
  text-transform: none;
  margin-right: 10%;
  box-shadow: -2px 3px #711d14;
  align-self: baseline;
}
nav button {
  box-shadow: -2px 3px #711d14;
  text-transform: none;
}

.welcomeBack {
  width: 100vw;
  height: 90vh;
  position: relative;
  background-image: url(https://live.staticflickr.com/2815/13740757384_8be0ae27e7_b.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.4;
}
.welcomeBack .onTop {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 1;
  width: 100%;
  background-color: white;
}

.indexNavWrap {
  position: sticky;
  top: 0;
}

.index {
  display: grid;
  grid-template-columns: 2fr 6fr 0.1fr;
  width: 100%;
}

.tripItem {
  box-shadow: 1px 0 3px #dd5042;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-gap: 3%;
  margin: 1.3%;
}
.tripItem:hover {
  background-color: #e4d767;
}
.tripItem .tripItemValue {
  padding: 5%;
  color: #302e2d;
  text-overflow: clip;
  font-weight: 600;
}

.ridebtn {
  margin: 10px 0 3px 10px;
  width: 100%;
}
.ridebtn a {
  color: #302e2d;
}

.startBtn {
  margin-top: 25px;
}

.progWrap {
  width: 100%;
}

.arrived input {
  width: 100%;
}

.colorAnimation {
  -webkit-animation-name: colorchange;
  -webkit-animation-duration: 60s;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: colorchange;
  -moz-animation-duration: 60s;
  -moz-animation-transition: ease-in;
  -moz-animation-iteration-count: infinite;
  animation-name: colorchange;
  animation-duration: 60s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  height: 100vh;
}

.sidenavcontent {
  height: 100%;
  background-image: url(https://www.maxpixel.net/static/photo/1x/Urban-Bicycle-City-Commuting-Folding-Bicycle-1864733.jpg);
  background-size: cover;
}

.editRoute {
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
