
@import 'reset';

// colors

$primary-color: #B22E20;

li {
  list-style: none;
}
// nav

nav {

  background-color:$primary-color;
  .navtbtn {
    margin:0 3%;
    // display: inline-block;
  }
  a {
    align-self: center;
  }
  ul {
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
  }

  li {
    align-self: baseline;
    // display: inline-block;
    // margin:0 10px;
    padding:3% 2%;
    form{
    align-self: baseline;
    }
  }

}



//Index

.indexNavWrap {
  position: sticky;
  top:0;
}

.tripItem {
  border: 1px solid red;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-gap: 3%;
  margin:1%;

  .tripItemValue {
    padding:2%;


  }
}

// progress
.progWrap {
  
}
.arrived {
  input {
    width:100%;
  }
}
