
@import 'reset';
$primary-color: #B22E20;


.clearfix:after{
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

li {
  list-style: none;
}
// nav

nav {
  display: flex;
  justify-content: flex-start;
  flex-direction: row-reverse;
  background-color:$primary-color;
  .navtbtn {
    margin:0 3%;
  }
  a {
    align-self: center;
  }
}

.indexNavWrap {
  position: sticky;
  top:0;
}

//Index

.tripItem {
  border: 1px solid red;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-gap: 3%;
  margin:1%;

  .tripItemValue {
    padding:2%;


  }
}
