<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <form action="/users/edit?_method=PUT" method="POST">
      <input type="hidden"  value="<%= currentUser.username %>">
      <input type="hidden"  value="<%= currentUser.password %>">
      <input type="text" name="img" placeholder="img url">
      <input type="submit"  value="update">
    </form>

  </body>
</html>
