<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <div class="container">
      <form action="/users/edit?_method=PUT" method="POST">
        <input type="hidden"  value="<%= currentUser.username %>">
        <input type="hidden"  value="<%= currentUser.password %>">
        <label for="img">
        <input type="text" name="img" placeholder="img url" id="img">
        <span>Add an Image</span>
        </label>
        <input type="submit"  value="update">
      </form>
    </div>


  </body>
</html>
