<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <h1>Create User</h1>
    <nav>
      <ul>
        <li>
        <button type="button" name="button" class="btn-flat"><a href="/sessions/new">Login</a> </button>
        </li>
      </ul>
    </nav>
    <div class="container">



    <form class="newUserForm" action="/users" method="POST">
      <fieldset>
        <legend>Create User</legend>
          <label for="username">Username</label>
          <input type="text" name="username" id="username" placeholder="username"/>
          <label for="password">Password</label>
          <input type="password" name="password" id="password" placeholder="password"/>
          <input type="submit"value="Add User"/>
      </fieldset>


    </form>
    </div>
  </body>
</html>
