<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <nav>

    </nav>
    <button type="button" name="button"><a href="/trips/new">Let's Begin</a></button>

    <ul>

    </ul>
  </body>
</html>
