<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <nav>
      <% include ../partials/head %>
    </nav>
    <div class="container">


      <form class="newRoute" action="/trips" method="POST">
        <input type="hidden" name="username" value="<%= currentUser.username %>">
        <fieldset>
          <label for="origin">
          <input type="text" name="origin" placeholder="origin position" id="origin"/>
          </label>
          <label for="destination">
          <input type="text" name="destination" placeholder="destination" id="destination"/>
          </label>
        </fieldset>
        <fieldset>
          <input class="btn" type="submit" value="Start"/>
        </fieldset>

      </form>
    </div>

  </body>
</html>
