<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <div class="container progWrap">
      <div class="progressBar">
        <h2>En Route to <%= trip.destination %>... </h2>
      </div>
      <div class="arrived">
        <form class="stopRoute" action="/trips/<%= trip.id %>?_method=PUT" method="POST">
          <input type="submit" value="Arrived!">
        </form>
      </div>
    </div>
  </body>
</html>
